.order-position {
    width: 75%;
    border: 1px solid black;
    margin: 2px 0;
}

.order-position .name {
    width: 65%;
    display: inline-block;
}

.order-position .quantity {
    width: 10%;
    display: inline-block;
}

.order-position .piece-price {
    width: 10%;
    display: inline-block;
}

.order-position .price {
    width: 10%;
    display: inline-block;
}