#register-form {
    width: 700px;
    margin: 30px auto;
    display: block;
    text-align: center;
}

#register-form input[type="text"], #register-form input[type="password"] {
    width: 80%;
    margin: 5px 0;
    font-size: 26px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    transition: border 0.5s;
}

#register-form input[type="text"]:hover, #register-form input[type="password"]:hover {
    border: 1px solid LightBlue;
}

#register-form input[type="submit"] {
    background: white;
    border: 1px solid black;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 26px;
    padding: 5px 15px;
    cursor: pointer;
    transition: border, color 0.5s;
    transition: background 0.5s;
}

#register-form input[type="submit"]:hover {
    background: LightBlue;
    border: 1px solid LightBlue;
    color: white;
}