<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PetShop</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="cart.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
  <div class="order-position">
    <div class="name">Nazwa</div>
    <div class="quantity">Ilość</div>
    <div class="piece-price">Cena j.</div>
    <div class="price">Cena</div>
  </div>
  <div th:each="position : ${cart.orderPositions}" class="order-position">
    <div th:text="${position.product.name}" class="name"></div>
    <div th:text="${position.quantity}" class="quantity"></div>
    <div th:text="${position.product.price + 'zł'}" class="piece-price"></div>
    <div th:text="${position.product.price * position.quantity + 'zł'}" class="price"></div>
  </div>
  <div class="order-position">
    <div class="name"></div>
    <div class="quantity"></div>
    <div class="piece-price">Suma</div>
    <div th:text="${sum + 'zł'}" class="price"></div>
  </div>
  <a href="/order" id="linkBlue">Zamów</a>
</div>
</body>