<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PetShop</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="order.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
  <div class="order">
    <div class="date">Data</div>
    <div class="status">Status</div>
    <div class="price">Wartość</div>
  </div>
  <div th:each="order : ${orders}" class="order">
    <div th:text="${order.date}" class="date"></div>
    <div th:text="${order.status}" class="status"></div>
    <div th:text="${order.price}" class="price"></div>
    <div th:each="orderPosition : ${order.orderPositions}" class="order-position">
      <div th:text="${orderPosition.product.name}" class="name"></div>
      <div th:text="${orderPosition.quantity}" class="quantity"></div>
    </div>
  </div>
</div>
</body>
</html>